<html>

<head>
  <title>STEM week problem</title>
  <link rel="shortcut icon" type="image/png" href="queen.png"/>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="vue.js"></script>
  <script src='script.js'></script>
  <link rel='stylesheet' type="text/css" href="style.css">
</head>

<body>
  <div id="app">
    <div id="main">
      <h1>{{ title }}</h1>
      <div class="board">
        <table>
          <tr v-for="(row, i) in current">
            <td v-for="(cell, j) in row" @click="toggle(i, j)" :class="(i+j)%2 == 0 ? 'box-even' : 'box-odd'">
              <img v-if="cell" src="new_queen.png" class="box" />
            </td>
          </tr>
        </table>
      </div>
      <div class="result">
        <!-- <label>{{ result }}</label> -->
        <button @click="clear()">Clear</button>
        <button @click="check(current)">Check</button>
      </div>
      <!-- <div>
        <button @click="increase_size()">Increase</button>
        <button @click="decrease_size()">Decrease</button>
      </div> -->
    </div>
    <div id="mid">
      <h1>Statistic</h1>
      <h2>Solutions found:</h2>
      <label>{{ cnt }}</label> 
      <h2>Message:</h2>
      <label>{{ result }}</label>
    </div>
    <div id="side">
      <div>
        <h2>History</h2>
      </div>
      <div v-for="(board, i) in history">
        <div class=item>
          <div class="count">{{ i+1 }}</div>
          <div class="board">
            <table>
              <tr v-for="(row, i) in board">
                <td v-for="(cell, j) in row" :class="(i+j)%2 == 0 ? 'box-even' : 'box-odd'">
                  <img v-if="cell" src="new_queen.png" />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>